/* Add reset Styles */
@import 'reset.css';

body {
  background-color: black;
  font-family: 'Roboto Flex', Arial, sans-serif;
  width: 600px;
  margin: 0 auto;
}

.post {
  background-color: white;
}

.post-header {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 2rem;
}
.logo-text {
  font-size: 1rem;
  text-transform: uppercase;
}

.user-profile::first-letter {
  text-transform: uppercase;
}

.post-header > .menu {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px;
}

.post {
  border-radius: 10px;
}

.liked {
  font-weight: bold;
}

.reactions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  /* font-size: 1rem; */
}

.reaction-icons,
.save-icon {
  font-size: 1.5rem;
}

.stats {
  padding-left: 20px;
}

.comments > p {
  padding: 20px;
}

.save-icon {
  margin-left: auto;
  padding-right: 10px;
}
